{% extends "layout.html" %}
{% block content %}
<h1>
	<a href="/data/stock_table">Stocks</a>
	<i class="angle double right icon"></i>
	{{ stock.name }}
	({{ stock.symbol }})
</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="height:100%;width:100%">
	<div id="tradingview_4d713" style="height:610px;width:100%"></div>
	<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
	                                             target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>
	</div>
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<script type="text/javascript">
        new TradingView.widget(
            {
                "autosize": true,
                "symbol": "{{ stock.exchange }}:{{ stock.symbol }}",
                "interval": "D",
                "timezone": "America/New_York",
                "theme": "light",
                "style": "1",
                "locale": "en",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_4d713"
            }
        );
	</script>
</div>
<!-- TradingView Widget END -->
<form method="post" action="/data/stock_table/apply_strategy">
	<select name="strategy_id">
		{% for strategy in strategies %}
		<option value="{{ strategy.id }}">{{ strategy.name }}</option>
		{% endfor %}
	</select>
	<input type="hidden" type="text" name="stock_id" value="{{stock.id}}"/>
	<input type="submit" value="Apply Strategy">
</form>

<h2>Prices</h2>
<table class="ui striped table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Open</th>
			<th>High</th>
			<th>Low</th>
			<th>Close</th>
			<th>Volume</th>
			<th>RSI 14</th>
			<th>SMA 20</th>
			<th>SMA 50</th>
		</tr>
	</thead>
	<tbody>
		{% for bar in stock_prices %}
		<tr>
            <td>{{ bar.dt }}</td>
            <td>{{ bar.open|round(2) if bar.open is not none else 'N/A'}}</td>
            <td>{{ bar.high|round(2) if bar.high is not none else 'N/A'}}</td>
            <td>{{ bar.low|round(2)if bar.low is not none else 'N/A'}}</td>
            <td>{{ bar.close|round(2)if bar.close is not none else 'N/A'}}</td>
            <td>{{ bar.volume }}</td>
            <td>{{ bar.rsi14|round(2) if bar.rsi14 is not none else 'N/A' }}</td>
            <td>{{ bar.sma20|round(2) if bar.sma20 is not none else 'N/A' }}</td>
            <td>{{ bar.sma50|round(2) if bar.sma50 is not none else 'N/A' }}</td>
        </tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

