{% extends "layout.html" %}
{% block head %}
<style>
    .backtest-header {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>
	<a href="/data/stock_table">Stocks</a>
	<i class="angle double right icon"></i>
	{{ strategy.name }}
</h1>

<h2>Stocks</h2>
<table class="ui striped table">
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Name</th>
			<th class="backtest-header">Backtest</th>
		</tr>
	</thead>
	<tbody>
		{% for stock in stocks %}
		<tr>
			<td>{{ stock.symbol }}</td>
			<td><a href="/stock_table/{{ stock.symbol}}">{{ stock.name }}</a></td>
			<td>
				<button class="ui button" onclick="runBacktest('{{ stock.symbol }}','{{ strategy.name }}')">
					Run Backtest
				</button>
			<td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script>
    function runBacktest(symbol, strategy) {
        fetch('/backtest/run_backtest', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({symbol, strategy})
        })
            .then(response => response.json())
            .then(data => {
                // Handle response
                console.log(data.message);
            });
    }
</script>
{% endblock %}
